@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');

*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	background-color:#bab3c0;
}

h1{
	color: #ffddd1;
	text-align: center;
	font-family: 'Petit Formal Script', cursive;
}