@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Roboto');

*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	background-color:#b75e4c;
	font-family: 'Roboto', sans-serif;
}

h1{
	color: white;
	text-align: center;
	font-family: 'Petit Formal Script', cursive;
	/*padding:30px 0;*/
	font-size: 60px;
}

button {
	padding:.5%;
	border-radius: 5px;
	color:#000;
	font-weight: bold;
	background-color: #b75e4c;
	border: none;
}

input {
	border: none;
	padding:.5%;
	border-radius: 5px;
	font-size: 16px;
}

/*form{
	background-color:#fff;
	margin:30px 5%;
	border-radius: 5px;
	padding:.5%;
}*/

label{
	padding:1%;
}

.out-put{
	list-style: none;
	text-align: center;
}

.header{
	padding:200px 0;
	background-image: url(../images/splash.jpeg);
	background-position: fixed;
	background-size:cover;
	background-position: center;
}

.tasksheader{
	color:#9ca76b;
	text-align: center;
}

.main-container{
	background-color:#fff;
	margin:30px 15%;
	border-radius: 5px;
	padding:.5%;

}

.flexing{
	display: flex;
	flex-wrap: wrap;
}

.col2-1{
	width:48%;
	padding:1%;
	margin:1%;
	/*border:solid black 3px;*/
}
